karabiner
lzc-client-desktop
StardewValley
github-copilot
jgit
htop
zellij
zed
monkey-typewriter
fish
flameshot
raycast
spicetify
xbuild
btop
sketchybar
.DS_Store
/.DS_Store
.vscode
mc
CheatEngine
bytelabs
cabal
cava
doom
filezilla
git
glab-cli
linearmouse
menus
spotify-player
youtube
*secret*
*token*
dark*